.card {
  min-width: 440px;
  height: 279px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.ant-card-body {
  display: flex;
  padding: 0;
}

.card__img {
  width: 183px;
  height: 277px;
  flex-shrink: 0;
}

.card__img img {
  width: 100%;
  height: 100%;
}
.card__content {
  position: relative;
  padding: 10px 20px 0 20px;
}
.card__header {
  display: flex;
  justify-content: space-between;
}
.card__reiting {
  flex-shrink: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 22px;
  border-radius: 50%;
  padding-top: 2px;
}
.card__reiting.max {
  border: 2px solid #66e900;
}
.card__reiting.norm {
  border: 2px solid #e9d100;
}
.card__reiting.poor {
  border: 2px solid #e97e00;
}
.card__reiting.low {
  border: 2px solid #e90000;
}
.card__release-date {
  display: block;
}
.ant-tag {
  margin-top: 7px;
}
.card__overview {
  display: block;
  margin-top: 7px;
  font-size: 12px;
}
.card__rate {
  position: absolute;
  bottom: 15px;
}

/* @media (max-width: 1024px) {
  .card {
    min-width: 340px;
  }

  .card__img {
    width: 140px;
    height: 200px;
  }

  .card__rate {
    bottom: -55px;
    left: -85px;
  }
} */

@media (max-width: 480px) {
  .card {
    /* display: grid;
    grid-template-columns: 60px 296px;
    grid-template-areas: 'img' 'content'; */
    min-width: 388px;
    height: 245px;
  }

  .card__img {
    grid-area: 'img';
    width: 60px;
    height: 91px;
  }
  .card__content {
    grid-area: 'content';
    padding: 4px 10px 0 10px;
  }
}
